/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7em;
    color: rgb(10,10,10);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: rgb(35,35,35);
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.text-color {
    color: rgb(200,200,200) !important;
    border-bottom:1px solid rgb(200,200,200) !important;
    font-size:.8em;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(50,50,50);
    color: rgb(150,150,150);
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: rgb(25,25,25);
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: rgb(200,200,200);
        padding: 10px;
        font-size:.8em;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color:rgb(200,200,200);
    }

        #sidebar ul li a:hover {
            color: rgb(150,150,150);
            background: rgb(25,25,25);
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: rgb(200,200,200);
        background: rgb(35,35,35);
    }

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle{
    position:relative;
}
.dropdown-toggle::after {
    font-family: "Font Awesome 5 Free"; /* İkon setine göre değiştirin */
    font-weight: 900;
    position: absolute; /* Absolute konumlandırma */
    right: 10px; /* Sağdan boşluk */
    top: 50%; /* Dikey ortalama */
    transform: translateY(-50%); /* Ortalamayı düzelt */
    pointer-events: none; /* Tıklama olaylarını engelle */
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(40,40,40);
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: rgb(red,25,25);
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    background:rgb(150,150,150);
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.content-main{
    margin:0;
}
.panel-card {
    background: rgb(50,50,50);
    padding: 1em;
    border-radius: 15px;
    margin: .5em;
    color: rgb(200,200,200);
}
.page-title-line {
    background: rgb(35,35,35);
    display: block;
    width: 100%;
    height: .1rem;
    margin: 1em 0;
}
.card-title-line {
    background: rgb(135,135,135);
    display: block;
    width: 100%;
    height: .1rem;
    margin: .5em 0 1em 0;
}
.card-title{
    color:rgb(200,200,200);
}
.panel-card table {
    color: rgb(210,210,210);
    font-size: .85em;
    letter-spacing: .3px;
}
.panel-card table thead {
    font-weight:500;
    color:rgb(150,150,150);
    letter-spacing:.5px;
    background:rgb(35,35,35);
}
.panel-card form label{
    font-size:0.9em;
}
.panel-card form input, .panel-card form select, .panel-card form textarea{
    background: rgb(190,190,190);
    font-weight:500;
}
.panel-card form .form-group {
    margin: 1em 0;
    border-bottom: 1px solid rgb(100,100,100);
    border-left: 1px solid rgb(70,70,70);
    border-right: 1px solid rgb(70,70,70);
    padding: .5em;
}
.panel-card form .form-group button{
    border:none;
}
.purple-soft {
    background: #6d7fcc !important;
    color: #fff !important;
    text-align: center;
    font-size: 0.9em !important;
    font-weight: 600;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}
