@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inconsolata:wght@200..900&display=swap');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*
    HAIRDRESSER PAGE
*/
.hairdresser-title {
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 1rem .5rem;
    margin-bottom: .5em;
}
.hairdresser-card {
    margin: .5em 0;
    padding: 1em 1em;
    border-top: 1px solid rgb(220,220,220);
    border-bottom: 1px solid rgb(50,50,50);
    border-right: 1px solid rgb(150,150,150);
    border-left: 1px solid rgb(150,150,150);
}
.hairdresser-card h3{
    margin-bottom:.7em;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.hairdresser-card span{
    padding:.3em 1em;
}
.hairdresser-card .employee-card {
    border-bottom: 1px solid rgb(180,180,180);
    border-right: 1px solid rgb(220,220,220);
    border-left: 1px solid rgb(220,220,220);
    margin:.5em 0;
}
.hairdresser-card .employee-card .reservation-btn{
    border:none;
    border-radius:15px;
    float:right;
    padding:.2em 1.5em;
    background:rgb(75,75,75);
    color:rgb(210,210,210);
    font-weight:500;
}