@model List<ServiceVM>
@{
    ViewData["Title"] = "Services";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}


<h5>Kuaför İşlemleri > <strong class="text-decoration-underline">Hizmet İşlemleri</strong></h5>
<span class="page-title-line"></span>
    <div class="panel-card">
        <h6 class="card-title">Yeni Hizmet</h6>
        <span class="card-title-line"></span>
        <div class="row form px-3">
            <input id="newService" placeholder="Yeni hizmet adını giriniz" type="text" class="col-md-10 col-sm-12" />
            <button id="addServiceBtn" class="btn purple-soft col-md-2 col-sm-12">Oluştur</button>
        </div>
    </div>
    <div class="panel-card">
        <h6 class="card-title">Mevcut Hizmetler</h6>
        <span class="card-title-line"></span>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        İsim
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                {
                    <tr>
                        <td>
                            @service.Name
                        </td>
                        <td>
                            <input type="text" id="upd-@service.Id" class="form-control"  placeholder="Bu hizmet için yeni isim belirleyebilirsiniz..."/>
                        </td>
                        <td>
                            <button class="btn purple-soft updateServiceBtn" data-id="@service.Id">
                                Düzenle
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function setEventListeners() {
                $('#addServiceBtn').on('click', function () {
                    var serviceNameInput = document.getElementById("newService");
                    var serviceName = serviceNameInput.value;
                    let addServiceModel = {
                        Name: serviceName
                    }
                    var confirmed = confirm(serviceName+" hizmetini eklemek istediğinizden emin misiniz?");
                    if (confirmed) {
                        $.ajax({
                            url: "/Panel/Hairdressers/AddService/",
                            type: "POST",
                            data: JSON.stringify(addServiceModel),
                            contentType: "application/json; charset=utf-8",
                            success: function (response) {
                                alert(response.saveText);
                                window.location.reload(1);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error("AJAX Error:", textStatus, errorThrown);
                                alert("İşleminiz gerçekleşmedi: " + jqXHR.responseText);
                            }
                        });
                    }

                });

                $('.updateServiceBtn').on('click', function () {
                    var serviceId = $(this).data('id');
                    var inputId = "upd-" + serviceId;
                    var serviceNameInput = document.getElementById(inputId);
                    var serviceName = serviceNameInput.value;
                    let updServiceModel = {
                        Id: serviceId,
                        Name: serviceName
                    }
                    var confirmed = confirm("Hizmet ismini güncellemek istediğinizden emin misiniz?");
                    if (confirmed) {
                        $.ajax({
                            url: "/Panel/Hairdressers/UpdateService/",
                            type: "POST",
                            data: JSON.stringify(updServiceModel), 
                            contentType: "application/json; charset=utf-8",
                            success: function (response) {
                                alert(response.saveText);
                                window.location.reload(1);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error("AJAX Error:", textStatus, errorThrown);
                                alert("İşleminiz gerçekleşmedi: " + jqXHR.responseText);
                            }
                        });
                    }

                });
            }
            setEventListeners();

        });
    </script>
}
