<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KuaforSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/panel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KuaforSite.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>PANEL</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="">
                    <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sayfa İşlemleri</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Ana sayfa</a>
                        </li>
                        <li>
                            <a href="#">İletişim</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Salon İşlemleri</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-area="Panel" asp-controller="Hairdressers" asp-action="NewHairdresser">Yeni Salon</a>
                        </li>
                        <li>
                            <a asp-area="Panel" asp-controller="Hairdressers" asp-action="Index">Salonlar</a>
                        </li>
                        <li>
                            <a asp-area="Panel" asp-controller="Hairdressers" asp-action="Services">Hizmetler</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#userSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Kullanıcı İşlemleri</a>
                    <ul class="collapse list-unstyled" id="userSubmenu">
                        <li>
                            <a asp-area="Panel" asp-controller="UserOperations" asp-action="NewUser">Yeni Kullanıcı</a>
                        </li>
                        <li>
                            <a asp-area="Panel" asp-controller="UserOperations" asp-action="Users">Kullanıcılar</a>
                        </li>
                        <li>
                            <a asp-area="Panel" asp-controller="UserOperations" asp-action="Roles">Roller</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Salon Yönetimi</a>
                </li>
                <li>
                    <a href="#">Çalışan Yönetimi</a>
                </li>
                <li>
                    <a href="#">Randevular</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a asp-area="deafult" asp-controller="Home" asp-action="Index" class="article">Siteye dön</a>
                </li>
                <p>@DateTime.Now.Year, Tüm hakları saklıdır.</p>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-secondary d-inline-block d-lg-none ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-color" href="#">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="default" asp-controller="Authentication" asp-action="LogOut" class="nav-link text-color">Çıkış yap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
           <div class="content-main">
                @RenderBody()
           </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/panel.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
